<app-header title="Buscar otros usuarios" backButton="/main"></app-header>

<ion-content [fullscreen]="true">
  <!-- Barra de búsqueda -->
  <ion-searchbar
    placeholder="Escribe un nombre de usuario"
    (ionInput)="searchUsers($event)">
  </ion-searchbar>

  <!-- Lista de resultados -->
  <ion-list *ngIf="users.length > 0">
    <ion-item *ngFor="let user of users" (click)="viewUserProfile(user)">
      <ion-avatar slot="start">
        <img src="{{user.photoProfile}}" alt="Avatar" />
      </ion-avatar>
      <ion-label>
        <h2>{{ user.username }}</h2>
        <p>{{ user.email }}</p>
        <small>{{ user.name }}</small>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

