.inacap{
    font-size: 80px;
    margin-top: 40px;
    width: 80px;
    border-radius: 10px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.textito{
    letter-spacing: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0 25px 0;
}