<ion-header>
  <ion-toolbar>
    <ion-title routerLink="/main">{{"@"+nombreUsuario}}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button routerLink="/main">Inicio</ion-item>
      <ion-item button (click)="signOut()">Cerrar sesión</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main-content" class="ion-padding">
  <img 
    (click)="updateProfilePhoto()"
    src="{{photoProfile}}"
    alt=""
    style="border-radius: 50%; width: 30%; margin: 10px 40px 10px 10px;"
  />
  <div style="display: inline-block;">
    <p>post: {{postCount}}</p>
    <p>Seguidores: {{followersCount}}</p>
    <p>Siguiendo: {{followingCount}}</p>
  </div>
  <p style="margin-top: 2%;">Nombre: {{nombreApellido}}</p>
  <hr>
  <div class="blocke"></div>
  <hr>
  <hr>

  @for (photos of photos; track photos.id) {
    <ion-card>
      <img class="fotoSubida" alt="Silhouette of mountains" src="{{photos.imagen}}" />
      <ion-card-header>
        <ion-card-title>{{photos.name}}</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        {{photos.descripcion}}
      </ion-card-content>
      <div class="option-btn">
        <ion-button  fill="clear" shape="round">
          <ion-icon slot="start" name="thumbs-up-outline"></ion-icon> {{photos.likes}} 
        </ion-button>
        <ion-button slot="end" fill="clear" shape="round" (click)="addUpdatePhoto(photos)">
          <ion-icon slot="end" name="create-outline"></ion-icon> 
        </ion-button>
        <ion-button fill="clear" slot="end" (click)="confirmDeletePhoto(photos)" >
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </div>
      <hr>
      <div>
        <p><strong>Comentarios:</strong></p>
      <div *ngFor="let comment of comments[photos.id]">
        <p>
          <strong>{{comment.username}}:</strong>
          {{comment.text}}
        </p>
      </div>
      </div>
    </ion-card>
   
  }
  <!-- subir foto -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="uploadPhotos()" size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
